@font-face {
	font-family: 'JF Flat Regular';
	src: url('https://raw.githubusercontent.com/assemkanon2/-/main/._JF-Flat-regular.eot');
	src: local('☺'), url('https://raw.githubusercontent.com/assemkanon2/-/main/._JF-Flat-regular.woff') format('woff'), url('https://raw.githubusercontent.com/assemkanon2/-/main/._JF-Flat-regular.ttf') format('truetype'), url('https://raw.githubusercontent.com/assemkanon2/-/main/._JF-Flat-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


